@import "./../../../styles/variables";

.showcase {
    
    background-color: var(--light);

    .wrapper {
        min-height: 48rem;
        padding: $spacing-xxl 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .lead {
        max-width: 56rem;
    }
}