@import "./../../../styles/variables";

.services {
    .wrapper {
        @include breakpoint(md) {
            display: flex;
            align-items: center;
            margin: 0 -$spacing-md;
            &>* {
                flex: 1;
                padding: $spacing-md;
            };
        }
    }

    .items {
        display: flex;
        flex-direction: column;
        gap: $spacing-lg;
        @include breakpoint(md) {
            flex-direction: row;
        }
    }

    .box {
        padding: $spacing-xl $spacing-md;
        text-align: center;
        box-shadow: 1px 1px 6px -1px rgba(0, 0, 0, 0.15);
    }

    .icon {
        margin-bottom: $spacing-lg;
    }

    h3 {
        margin: 1em 0;
    }

    p {
        font-size: 1.8rem;
        line-height: 1.8;
        margin-bottom: $spacing-md;
    }


}

