@import "./../../../styles/variables";

.hero {
    padding: $spacing-xl 0;
    background-image: url(/assets/images/bg/hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
    background-color: var(--light);

    .wrapper {
        min-height: calc(100vh - #{$header-height});
        display: flex;
        flex-direction: column;

        @include breakpoint(md) {
            flex-direction: row;
            align-items: center;
        }
    
        &>* {
            width: 100%;
        }
    }

    .start {
        order: 2;
        @include breakpoint(md) {
            order: initial;
        }
    }

    h1 {
        margin-bottom: $spacing-md;
        font-size: 4.8rem;
        
        span {
            color: $secondary;
        }
    }

    p {
        max-width: 56rem;
        margin-bottom: $spacing-xl;
        font-size: 1.8rem;
        line-height: 1.6;
    }

    .buttons {
        display: flex;
        li {
            &:not(:last-child) {
                margin-right: $spacing-md;
            }
        }
        
    }
}


