@import "./../../../styles/variables";

.intro {
    padding-top: $spacing-xxl;
    padding-bottom: $spacing-xxl;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    @include breakpoint(md) {
        text-align: left;
    }

    .wrapper {
        @include breakpoint(md) {
            max-width: 96rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &>* {
            flex: 1;
        }
    }

    h2 {
        margin-bottom: $spacing-md;

        @include breakpoint(md) {
            padding-right: $spacing-lg;
            text-align: right;
        }
    }

    p {
        margin-bottom: $spacing-md;
        line-height: 1.6;
        

        @include breakpoint(md) {
            padding-left: $spacing-lg;
            border-left: 2px solid $primary;
        }
    }
}