@import "./../../styles/variables";

.container {
    max-width: 54rem;
    margin: 0 auto;
    padding: 0 $spacing-lg;

    @include breakpoint(md) {
        max-width: 720px;
        padding: 0;
    }

    @include breakpoint(lg) {
        max-width: 960px;
    }

    @include breakpoint(xl) {
        max-width: 1140px;
    }

    @include breakpoint(xxl) {
        max-width: 1320px;
    }
    
    &.fluid {
        max-width: 100%;
    }

    &.fullWidth {
        max-width: 100%;
        padding: 0;
    }
}