@import "./../../styles/variables.scss";

.btn {
    width: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    padding: $spacing-md $spacing-lg;
    font-family: inherit;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: $letter-spacing;


    @include breakpoint(md) {
        width: initial;
    }

    &.primary {
        color: $white;
        background: linear-gradient(to right, #3956de 0%, #657be5 100%);
        border: 1px solid transparent;
        transition: all 0.3s ease;
        box-shadow: 7px -8px 20px 0px rgba(17, 41, 255, .2);

        &:hover {
            color: $primary;
            background: transparent;
            border: 1px solid $primary;
        }
    }

    &.outline {
        color: $primary;
        background: transparent;
        border: 1px solid $primary;

        &:hover {
            border: 1px solid $gray;
        }
    }
}