@import "./reset.scss";
@import "./variables.scss";

:root {
    --white: #{$white};
    --light: #{$light};
    --black: #{$black};
    --dark: #{$dark};
    --gray: #{$gray};
    --primary: #{$primary};
    --secondary: #{$secondary};
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: $font-family-primary;
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--dark);
    background-color: var(--white);
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-secondary;
    font-weight: 900;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 2.8rem;
}

h4 {
    font-size: 2.2rem;
}

h5 {
    font-size: 1.8rem;
}

em {
    font-style: italic;
}

b, strong {
    font-weight: bold;
}

.swiper-container {
    width: 100%;
}
  
.swiper-pagination {
    bottom: 0;
    padding-bottom: 10px;
}
  
.swiper-wrapper {
    padding-inline-start: 0;
}

#root {
    height: 100%;
}

img {
    vertical-align: middle;
}

.img-fluid {
    width: 100%;
    height: auto;
}

h1 {
    font-size: 2.2rem;
    line-height: 50px;

    @include breakpoint(md) {
        font-size: 2.6rem;
        line-height: 58px;
    }    

    @include breakpoint(lg) {
        font-size: 3.6rem;
        line-height: 64px;
    }
}

.loading {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100vh;
    color: var(--dark);
    background-color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;

}

.lead {
    font-size: clamp(1.8rem, 2.5vw, 2rem); 

}

.buttons {
    &>* {
        margin-bottom: $spacing-sm;

        @include breakpoint(md) {
            &:not(:last-child) {
                margin-right: $spacing-sm;
            }
        }        
    }

}