// fonts
$font-family-primary: "Open Sans", sans-serif;
$font-family-secondary: "Poppins", sans-serif;

// colors
$white: #fff;
$light: #f9f9ff;
$black: #000;
$dark: #0f072b;
$gray: #666;
$blue: #3956de;
$violet: #6c63ff;

$primary: $blue;
$secondary: $violet;

// border-radius
$border-radius: 12px;

// letter spacing
$letter-spacing: 0.4px;

// spacing
$spacing-sm: .8rem;
$spacing-md: 1.6rem;
$spacing-lg: 3.2rem;
$spacing-xl: 4.8rem;
$spacing-xxl: 6.4rem;

// heights
$header-height: 9rem;

// box shadow
$box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.05);


@mixin breakpoint($point) {
    @if $point == md {
        @media (min-width: 48rem) {
            @content;
        }
    }

    @if $point == lg {
        @media (min-width: 62rem) {
            @content;
        }
    }    

    @if $point == xl {
        @media (min-width: 71.25rem) {
            @content;
        }
    }

    @if $point == xxl {
        @media (min-width: 82.5rem) {
            @content;
        }
    }            
}