@import "./../../styles/variables";

.article {
    margin: $spacing-lg 0;
    font-size: clamp(1.6rem, 2.5vw, 2.2rem); 

    h1, h2, h3, h4, h5 {
        margin: .5em 0;
    }

    h1 {
        font-size: 2.4em;
        color: var(--primary);
    }

    h2 {
        font-size: 1.6em;
    }
}