@import "./../../styles/variables";

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;

    // nadpisuje wartości przesłane przez props
    &>svg {
        width: 48px;
        height: 48px;

        @include breakpoint(lg) {
            width: 64px;
            height: 64px;
        }
    }

    span {
        font-size: 2rem;
        color: currentColor;
        font-weight: 900;
        letter-spacing: $letter-spacing;
        margin-left: $spacing-sm;
    }
}