@import "./../../../styles/variables";

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: all .5s ease 0s;

    &.isFixed {
        background: var(--light);
        box-shadow: -1px 3px 20px 3px rgba(0,0,0,.13);
    }
    
    
    .wrapper {
        height: $header-height;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}