@import "./../../../styles/variables";

.about {
    background-image: url(/assets/images/bg/about.png);
    background-size: cover;
    background-position: center;

    .wrapper {
        display: flex;
        flex-direction: column;
        gap: $spacing-xxl;
        @include breakpoint(md) {
            flex-direction: row;
            align-items: center;

            &>* {
                flex: 1;
            };
        }

        header {
            @include breakpoint(md) {
                
                text-align: left;
            }
        }

        img {
            max-width: 56rem;
        }
    }

    .list {
        display: flex;
        gap: $spacing-md;
        flex-wrap: wrap;
        align-items: center;
        li {

            display: flex;
        }

        span {
            width: 3rem;
            height: 3rem;
            padding: 5px;
            background-color: $primary;
            display: inline-block;
            margin-right: $spacing-sm;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }
}