@import "./../../../../styles/variables";

#mainNavigation {
    display: none;
    @include breakpoint(md) {
        
        display: flex;
    }

    li {
        &:not(:last-child) {
            margin-right: $spacing-lg;
        }
    }

    a {
        text-decoration: none;
        color: var(--dark);

        &:hover, &.active {
            color: var(--primary);
        }
    }
}