@import "./../../styles/variables";

.section {
    padding: $spacing-xxl 0;


    .header {
        margin-bottom: $spacing-xl;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        h2 {
            margin-bottom: 1em;
            span {
                display: block;
                text-transform: uppercase;
                font-size: 2.8rem;
                font-weight: 500;
                color: $secondary;
            }
        }

        p {
            max-width: 64rem;
            margin-bottom: 1em;
        }

        &__content {
            margin-top: $spacing-xl;
        }
    }

    .content {
        padding: $spacing-xl 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}