@import "./../../../styles/variables";

.footer {
    margin-top: $spacing-xxl;
    padding: $spacing-xxl 0;
    color: var(--light);
    background-color: var(--dark);

    .wrapper {
        @include breakpoint(md) {
            display: flex;
        }
    }

    .start {
        flex: 2;
        margin-bottom: $spacing-xxl;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include breakpoint(md) {
            text-align: left;
            align-items: flex-start;
        }

    }

    .end {
        flex: 3;
        
        text-align: center;
        @include breakpoint(md) {
            display: flex;
            justify-content: space-around;
        }
    }

    a {
        color: var(--light);
    }

    .lead {
        margin: $spacing-lg 0;
        color: var(--light);
    }

    .socials {
        display: flex;
        flex-wrap: wrap;
        li {
            &:not(:last-child) {
                margin-right: 1.6rem;
            }
        }

        a {
            padding: 1rem;
            font-size: 3.2rem;
            color: var(--dark);
            background-color: var(--light);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            
            &>* {
                font-size: 3.2rem;
            }

            &:focus,
            &:hover {
                background-color: var(--white);
            }

        }
    }

    .menu {
        margin-bottom: $spacing-xl;

        .title {
            margin-bottom: $spacing-lg;
            font-size: 2rem;

        }

        li {
            margin-bottom: $spacing-md;
        }
    }
}